{% extends "app/base.html" %}

{% block header %}

<h1>To Do List</h1>

{% endblock  %}

{% block show %}

{% endblock  %}

{% block form %}
<div class='header'>
  <h2>Form </h2>
</div>
<form method="POST" action="{% url "app:edit" %}" class='form' style="background-color:#fff5ff;">


  {% csrf_token %}
  <div class="form-group" >
    <label class="label" ><b>Id:</b></label>
    <input type="text" name='id' id="userId" class="form-control" id="formGroupExampleInput" value="{{task.id}}" placeholder="Task name"  readonly>
  </div>

    <div class="form-group" >
      <label class="label" ><b>Task Name:</b></label>
      <input type="text" name='taskName' id="taskName" class="form-control" id="formGroupExampleInput" value="{{task.taskName}}" placeholder="Task name">
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput"><b>Progress:</b></label>
      <input type="range" name='progress' id="progress" class="form-range" min="1" max="100" id="rangeSlider" value="{{task.progress}}"> 
      {% comment %} <span id="rangeValue"></span>% {% endcomment %}
    </div>

    <div class="mb-3">
      <label for="datetime" class="form-label"><b>Ngày giờ</b></label>
      <input type="datetime-local" name='dueDate' id='dueDate' class="form-control" id="datetime" name="datetime" value="{{task.dueDate}}">
    </div>

    <div class = 'button'>
      <button type="button" class="btn btn-danger" onclick="reset()" >Reset</button>
      <button id="save" type="submit" class="btn btn-success">Save</button>
    </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        

        $('#save').on('submit',function(e){
          e.preventDefault()
          var data = {'userId':$('#userId').val(),'taskName':$('#taskName').val(),'progress':$('#progress').val(),'dueDate':$('#dueDate').val()};
          console.log(data);
          postUpdate(data);
      });

        function postUpdate(datasend) {
          $.ajax({
              url: "{% url 'app:edit'  %}",
              method: 'POST',
              data: datasend,
              success: function(response) {
                console.log("success");
            },
              error: function() {
                  alert('Failed to Update.');
              }
          });
        }
      });

      

    </script>


  </form>

{% endblock  %}


