{% extends "app/base.html" %}

{% block header %}

<h1>To Do List</h1>

{% endblock  %}

{% block show %}

<div class="container">
<div class="col-md-12 col-12 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody><tr>
              <th><center><div class='task-name' >Task Name</div></center></th>
              <th><center><div class='task-name' >Progress</div></center></th>
              <th><center><div class='due-date' >Due Date</div></center></th>
              <th><center><div class='action' >Edit</div></center></th>
              <th><center><div class='action' >Delete</div></center></th>
            </tr>
            {% for task in tasks %}
            {% comment %} <h4>{{task.date|date:"d-m-Y"}}<a href=" {% url 'post' post.id %} "> {{post.title}}/<a> </h4> {% endcomment %}
              <tr>
                <td><center>{{task.taskName}}</center></td>
                <td class="align-middle">
                  <div>{{task.phantram}}%</div>
                  <div class="progress" data-height="4" data-toggle="tooltip" title="" data-original-title="100%" style="height: 4px;width: 500px;">
                    <div class="progress-bar {{task.mau}}" data-width="100" style="width: {{task.progress}}px; height:8px;"></div>
                  </div>
                
                </td>
                <td>{{task.dueDate}}</td>
                <td>
                  <a href='/formEdit/{{task.id}}' class="btn btn-primary btn-edit mr-1" data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                </td>
                <td>
                  <a href='/delete/{{task.id}}' class="btn btn-danger btn-delete" data-toggle="tooltip" title="" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')" data-original-title="Delete"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody></table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock  %}

{% block timkiem %}
<form method="POST" action="{% url 'search' %}" >
  {% csrf_token %}
<div class="container justify-content-center">
  <div class="row justify-content-center">
     <div class="col-md-8">
         <div class="input-group mb-3">
          <input type="text" name='search' class="form-control input-text" placeholder="Search products...." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append" style="padding-left:20px;">
              <button class="btn btn-outline-success btn-lg" type="submit" >Search<i class="fa fa-search"></i></button>
            </div>
        </div>     
     </div>        
  </div>
</div>

</form>
{% endblock  %} 





{% block form %}
<div class='header'>
  <h2>Form </h2>
</div>
<form method="POST" action="{% url 'add' %}" class='form' style="background-color:#fff5ff;">


  {% csrf_token %}
    <div class="form-group" >
      <label class="label" ><b>UserName:</b></label>
      <input type="text" name='userId' class="form-control" id="formGroupExampleInput" value={{user.id}} readonly>
    </div>
    <div class="form-group" >
      <label class="label" ><b>Task Name:</b></label>
      <input type="text" name='taskName' class="form-control" id="formGroupExampleInput" placeholder="Task name">
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput"><b>Progress:</b></label>
      <input type="range" name='progress' class="form-range" value="0" min="1" max="100" id="rangeSlider"> 
      <span id="rangeValue"></span>%
    </div>

    <script>
      const rangeSlider = document.getElementById('rangeSlider');
      const rangeValue = document.getElementById('rangeValue');

      rangeSlider.addEventListener('input', function() {
        rangeValue.textContent = rangeSlider.value;
      });
      function clearFields() {
        document.getElementById("name").value = "";
        document.getElementById("email").value = "";
        document.getElementById("phone").value = "";
      }
      
    </script>

    <div class="mb-3">
      <label for="datetime" class="form-label"><b>Ngày giờ</b></label>
      <input type="datetime-local" name='dueDate' class="form-control" id="datetime" name="datetime">
    </div>

    <div class = 'button'>
      <button type="button" class="btn btn-danger" onclick="reset()" >Reset</button>
      <button type="submit" class="btn btn-success">Save</button>
    </div>

  </form>

{% endblock  %}


