<!-- my_template.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Zoom theo chuột</title>
    <style>
        .zoomable {
            display: inline-block;
            position: relative;
            overflow: hidden;
            cursor: zoom-in;
        }

        .zoomable img {
            transition: transform 0.5s;
        }
    </style>
</head>
<body>
    <div class="zoomable">
        <img id="my_image" src="https://images.viblo.asia/d140d17f-c092-4299-ba65-c9f4904854c9.jpg" width="500">
    </div>

    <script>
        function handleMouseWheel(event) {
            var myImage = document.getElementById('my_image');

            var scaleFactor = 0.1;
            var delta = Math.max(-1, Math.min(1, (event.wheelDelta || -event.detail))) * scaleFactor;

            var zoom = myImage.clientWidth * (1 + delta);

            myImage.style.transform = "scale(" + (zoom / 100) + ")";
        }

        var zoomable = document.querySelector('.zoomable');
        zoomable.addEventListener('mousewheel', handleMouseWheel);
        zoomable.addEventListener('DOMMouseScroll', handleMouseWheel);
    </script>
</body>
</html>
